@use 'sass:string';
@use '@style/theme/index.scss' as global;

$secret-gap: global.$spacing-3;
$secret-trigger-border-radius: global.$radius-small;
$secret-trigger-color-text: var(string.unquote('#{global.$sd-cssvars-prefix}-color-text-3'));
$secret-trigger-color-text_hover: var(string.unquote('#{global.$sd-cssvars-prefix}-color-text-1'));
$secret-trigger-size-icon: global.$size-4;
$secret-placeholder-color-text: var(string.unquote('#{global.$sd-cssvars-prefix}-color-text-3'));
