@use '@style/theme/index.scss' as global;

@forward '@style/theme/index.scss';
@forward '@style/color/colors.scss' hide $sd-vars-prefix, $sd-cssvars-prefix;

@use 'sass:string';
@use '@style/theme/index.scss' as *;

$link-font-size: global.$font-size-body-3;

$link-color-bg_hover: var(string.unquote('#{global.$sd-cssvars-prefix}-color-fill-2'));

$link-color-bg_active: var(string.unquote('#{global.$sd-cssvars-prefix}-color-fill-3'));

$link-padding-horizontal: global.$spacing-2;

$link-line-height: $line-height-base;

$link-color-text: global.$color-link-6;

$link-color-text_hover: $link-color-text;

$link-color-text_active: $link-color-text;

$link-color-text_disabled: var(string.unquote('#{global.$sd-cssvars-prefix}-color-link-light-3'));

$link-color-text_loading: var(string.unquote('#{global.$sd-cssvars-prefix}-color-link-light-3'));

$link-color-text_success: global.$color-success-6;

$link-color-text_success_hover: $link-color-text_success;

$link-color-text_success_active: $link-color-text_success;

$link-color-text_success_disabled: var(
  string.unquote('#{global.$sd-cssvars-prefix}-color-success-light-3')
);

$link-color-text_success_loading: var(
  string.unquote('#{global.$sd-cssvars-prefix}-color-success-light-3')
);

$link-color-text_error: global.$color-danger-6;

$link-color-text_error_active: $link-color-text_error;

$link-color-text_error_hover: $link-color-text_error;

$link-color-text_error_disabled: var(
  string.unquote('#{global.$sd-cssvars-prefix}-color-danger-light-3')
);

$link-color-text_error_loading: var(
  string.unquote('#{global.$sd-cssvars-prefix}-color-danger-light-3')
);

$link-color-text_warning: global.$color-warning-6;

$link-color-text_warning_hover: $link-color-text_warning;

$link-color-text_warning_active: $link-color-text_warning;

$link-color-text_warning_disabled: var(
  string.unquote('#{global.$sd-cssvars-prefix}-color-warning-light-2')
);

$link-color-text_warning_loading: var(
  string.unquote('#{global.$sd-cssvars-prefix}-color-warning-light-2')
);

$link-margin-icon-right: global.$spacing-3;

$link-padding-vertical: 1px;

$link-size-icon: global.$size-3;

$link-border-radius: global.$radius-small;
