@import '../../../style/theme/index.less';

@auto-tooltip-prefix-cls: ~'@{prefix}-auto-tooltip';

.@{auto-tooltip-prefix-cls} {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
