@import '../../style/mixins/index.less';
@import './input.less';
@import './token.less';

@input-prefix-cls: ~'@{prefix}-input';

.get-padding(@input-size-height, @input-font-size) {
  /* prettier-ignore */
  padding-top: (round(@input-size-height - @input-border-width * 2 - @line-height-base * @input-font-size) / 2);

  /* prettier-ignore */
  padding-bottom: (round(@input-size-height - @input-border-width * 2 - @line-height-base * @input-font-size) / 2);
}

.disabled-style() {
  color: @input-color-text_disabled;
  background-color: @input-color-bg_disabled;
  border-color: @input-color-border_disabled;
  cursor: not-allowed;

  &:hover {
    color: @input-color-text_disabled;
    background-color: @input-color-bg_disabled;
    border-color: @input-color-border_disabled;
  }

  &::placeholder {
    color: @input-color-text_disabled;
  }
}

//.input-style() {
//  box-sizing: border-box;
//  width: 100%;
//  padding-right: @input-padding-horizontal;
//  padding-left: @input-padding-horizontal;
//  color: @input-color-text;
//  font-size: @input-size-default-font-size;
//  background-color: @input-color-bg;
//  border: @input-border-width solid @input-color-border;
//  border-radius: @input-border-radius;
//  transition: color @transition-duration-1 @transition-timing-function-linear,
//    border-color @transition-duration-1 @transition-timing-function-linear,
//    background-color @transition-duration-1 @transition-timing-function-linear;
//
//  &:hover {
//    background-color: @input-color-bg_hover;
//    border-color: @input-color-border_hover;
//  }
//
//  &:focus,
//  &&-focus {
//    background-color: @input-color-bg_focus;
//    border-color: @input-color-border_focus;
//    box-shadow: 0 0 0 @input-size-shadow_focus @input-color-shadow_focus;
//  }
//
//  &&-error {
//    background-color: @input-color-bg_error;
//    border-color: @input-color-border_error;
//
//    &:hover {
//      background-color: @input-color-bg_error_hover;
//      border-color: @input-color-border_error_hover;
//    }
//  }
//
//  &&-error:focus,
//  &&-error&-focus {
//    background-color: @input-color-bg_error_focus;
//    border-color: @input-color-border_error_focus;
//    box-shadow: 0 0 0 @input-size-shadow_error_focus
//      @input-color-shadow_error_focus;
//  }
//}

.@{input-prefix-cls}-wrapper {
  .input-wrapper-style(@input-prefix-cls);

  .@{input-prefix-cls} {
    .input-style();

    &.@{input-prefix-cls}-size-mini {
      .input-size(mini);
    }

    &.@{input-prefix-cls}-size-small {
      .input-size(small);
    }

    &.@{input-prefix-cls}-size-medium {
      .input-size(medium);
    }

    &.@{input-prefix-cls}-size-large {
      .input-size(large);
    }
  }

  .@{input-prefix-cls}-word-limit {
    color: @input-color-tip-text;
    font-size: @input-font-tip-size;
  }
}

.@{input-prefix-cls}-outer {
  display: inline-flex;
  width: 100%;
  height: 100%;

  > .@{input-prefix-cls}-wrapper {
    border-radius: 0;

    // ??
    &-focus {
      border-radius: @input-border-radius;
    }
  }

  > :first-child {
    border-top-left-radius: @input-border-radius;
    border-bottom-left-radius: @input-border-radius;
  }

  > :last-child {
    border-top-right-radius: @input-border-radius;
    border-bottom-right-radius: @input-border-radius;
  }

  .outer-size();

  &-disabled {
    cursor: not-allowed;
  }
}

.@{input-prefix-cls}-prepend,
.@{input-prefix-cls}-append {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 @input-padding-horizontal;
  color: @input-color-text;
  white-space: nowrap;
  background-color: @input-color-addon-bg;
  border: 1px solid @input-color-addon-border_default;

  > svg {
    font-size: @input-size-default-icon-addon-size;
  }
}

.@{input-prefix-cls}-append {
  border-left: @input-border-addon-separator-width solid
    @input-color-addon-border;

  .addon(after, @input-size-default-height, @input-size-default-font-size);
}

.@{input-prefix-cls}-prepend {
  border-right: @input-border-addon-separator-width solid
    @input-color-addon-border;

  .addon(before, @input-size-default-height, @input-size-default-font-size);
}

//.@{prefix}-textarea {
//  .input-style();
//
//  position: relative;
//  max-width: 100%;
//  height: auto;
//  min-height: @textarea-size-min-height;
//  padding: @textarea-padding-vertical @textarea-padding-horizontal;
//  overflow: auto;
//  font-size: @textarea-font-size;
//  line-height: @line-height-base;
//  vertical-align: top;
//  resize: vertical;
//
//  // 禁用样式
//  &-disabled {
//    .disabled-style();
//  }
//}

@import './group.less';
@import './size.less';
@import './textarea.less';
@import './search.less';
@import './password.less';
