@import './token.less';

.@{input-prefix-cls}-wrapper.@{input-prefix-cls}-password {
  &:not(.@{input-prefix-cls}-disabled) {
    .@{input-prefix-cls}-suffix {
      color: @password-color-eye-icon;
      font-size: @password-size-eye-icon;
      cursor: pointer;
    }
  }
}
