@import './token.less';

.@{input-prefix-cls}-search {
  .@{input-prefix-cls}-append {
    padding: 0;
    border: none;
  }

  .@{input-prefix-cls}-suffix {
    color: @search-color-icon;
    font-size: @search-size-icon;
  }

  .@{input-prefix-cls}-search-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
