.@{input-prefix-cls}-type-search {
  .@{input-prefix-cls}-group-addbefore {
    transition: all @transition-duration-1 @transition-timing-function-linear;
  }

  .@{input-prefix-cls}-group-addafter {
    padding: 0;
    border: none;
  }

  .@{input-prefix-cls}-group-suffix {
    color: @search-color-icon;
    font-size: @search-size-icon;
  }

  &:not(.@{input-prefix-cls}-disabled) {
    .@{input-prefix-cls}-group-addbefore {
      color: @search-color-icon;
      font-size: @search-size-icon;
      cursor: pointer;
    }
  }

  &.@{input-prefix-cls}-after-append .@{input-prefix-cls} {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .@{input-prefix-cls}-search-btn {
    font-size: @search-size-icon;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &.@{prefix}-btn-icon-only {
      padding-right: 8px;
      padding-left: 8px;
    }
  }
}
