@import '../../style/theme/index.less';
@import '../../_components/select-view/style/token.less';
@import '../../select/style/token.less';

@tree-select-padding-popup-left: @spacing-5;
@tree-select-padding-popup-right: @spacing-2;
@tree-select-padding-popup-vertical: @spacing-2;
