@import './token.less';

@mention-prefix-cls: ~'@{prefix}-mention';

.@{mention-prefix-cls} {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;

  &-measure {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    visibility: hidden;
    pointer-events: none;
  }
}
