@use '@style/theme/index.scss' as theme;
@use 'sass:string';
$picker-prefix-cls: string.unquote('#{theme.$prefix}-picker');

@use '@components/date-picker/style/token.scss' as *;

$quarter-panel-prefix-cls: string.unquote('#{theme.$prefix}-panel-quarter');

.#{$quarter-panel-prefix-cls} {
  box-sizing: border-box;
  width: $picker-panel-quarter-width;
}
