@import '../../style/theme/index.less';

/**********************************************
 * Popup Box
 **********************************************/
@select-popup-max-height: @size-50;
@select-popup-border-radius: @radius-medium;
@select-popup-padding-vertical: @spacing-2;
@select-popup-font-size: @font-size-body-3;
@select-popup-color-bg: var(~'@{arco-cssvars-prefix}-color-bg-popup');
@select-popup-color-border: var(~'@{arco-cssvars-prefix}-color-fill-3');
@select-popup-box-shadow: @shadow2-down;

/**********************************************
 * Popup Options
 * status: default / disabled / selected / hover
 **********************************************/
@select-popup-option-height: @size-9;
@select-popup-option-font-weight_selected: @font-weight-500;
@select-signal-popup-option-padding-horizontal: @spacing-6;
@select-multi-popup-option-padding-horizontal: @spacing-2;

@select-popup-option-color-bg_default: var(~'@{arco-cssvars-prefix}-color-bg-popup');
@select-popup-option-color-bg_hover: var(~'@{arco-cssvars-prefix}-color-fill-2');
@select-popup-option-color-bg_selected: var(~'@{arco-cssvars-prefix}-color-bg-popup');
@select-popup-option-color-bg_disabled: var(~'@{arco-cssvars-prefix}-color-bg-popup');

@select-popup-option-color-text_default: var(~'@{arco-cssvars-prefix}-color-text-1');
@select-popup-option-color-text_hover: var(~'@{arco-cssvars-prefix}-color-text-1');
@select-popup-option-color-text_selected: var(~'@{arco-cssvars-prefix}-color-text-1');
@select-popup-option-color-text_disabled: var(~'@{arco-cssvars-prefix}-color-text-4');

@select-popup-option-color-highlight-text: var(--color-text-1);
@select-popup-option-font-highlight-weight: @font-weight-500;

// option group title
@select-popup-group-title-height: @size-5;
@select-popup-group-title-padding-horizontal: @spacing-6;
@select-popup-group-title-padding-top: @spacing-4;
@select-popup-group-title-font-size: @font-size-body-1;
@select-popup-group-title-color-text: var(~'@{arco-cssvars-prefix}-color-text-3');

@dropdown-margin-left-suffix-icon: @spacing-6;
