@import './global.less';
@import '../color/css-variables.less';

@color-border: rgb(var(--gray-3));
@color-bg-popup: var(--color-bg-5);
@color-bg-1: #fff;
@color-bg-2: #fff;
@color-bg-3: #fff;
@color-bg-4: #fff;
@color-bg-5: #fff;
@color-bg-white: #fff;
@color-text-1: var(--color-neutral-10); // Title, body
@color-text-2: var(--color-neutral-8); // Statement
@color-text-3: var(--color-neutral-6); // Secondary information
@color-text-4: var(--color-neutral-4); // Secondary information
@color-fill-1: var(--color-neutral-1);
@color-fill-2: var(--color-neutral-2);
@color-fill-3: var(--color-neutral-3);
@color-fill-4: var(--color-neutral-4);
@color-border-1: var(--color-neutral-2);
@color-border-2: var(--color-neutral-3);
@color-border-3: var(--color-neutral-4);
@color-border-4: var(--color-neutral-6);
@color-primary-light-1: rgb(var(--primary-1));
@color-primary-light-2: rgb(var(--primary-2));
@color-primary-light-3: rgb(var(--primary-3));
@color-primary-light-4: rgb(var(--primary-4));
@color-secondary: var(--color-neutral-2);
@color-secondary-hover: var(--color-neutral-3);
@color-secondary-active: var(--color-neutral-4);
@color-secondary-disabled: var(--color-neutral-1);
@color-danger-light-1: rgb(var(--danger-1));
@color-danger-light-2: rgb(var(--danger-2));
@color-danger-light-3: rgb(var(--danger-3));
@color-danger-light-4: rgb(var(--danger-4));
@color-success-light-1: rgb(var(--success-1));
@color-success-light-2: rgb(var(--success-2));
@color-success-light-3: rgb(var(--success-3));
@color-success-light-4: rgb(var(--success-4));
@color-warning-light-1: rgb(var(--warning-1));
@color-warning-light-2: rgb(var(--warning-2));
@color-warning-light-3: rgb(var(--warning-3));
@color-warning-light-4: rgb(var(--warning-4));
@color-link-light-1: rgb(var(--link-1));
@color-link-light-2: rgb(var(--link-2));
@color-link-light-3: rgb(var(--link-3));
@color-link-light-4: rgb(var(--link-4));

@dark-color-border: #333335;
@dark-color-bg-1: #17171a; // The overall background is @dark-gray-1
@dark-color-bg-2: #232324; // Primary container background ("white")
@dark-color-bg-3: #2a2a2b; // Secondary container background
@dark-color-bg-4: #313132; // Three-level container background
@dark-color-bg-5: #373739; // Drop-down box, Tooltips background
@dark-color-bg-white: #f6f6f6; // In bright color mode radio, switch white background
@dark-color-text-1: fade(#fff, 90%);
@dark-color-text-2: fade(#fff, 70%);
@dark-color-text-3: fade(#fff, 50%);
@dark-color-text-4: fade(#fff, 30%);
@dark-color-fill-1: fade(#fff, 4%);
@dark-color-fill-2: fade(#fff, 8%);
@dark-color-fill-3: fade(#fff, 12%);
@dark-color-fill-4: fade(#fff, 16%);
@dark-color-primary-light-1: rgba(var(--primary-6), 0.2);
@dark-color-primary-light-2: rgba(var(--primary-6), 0.35);
@dark-color-primary-light-3: rgba(var(--primary-6), 0.5);
@dark-color-primary-light-4: rgba(var(--primary-6), 0.65);
@dark-color-secondary: rgba(var(--gray-9), 0.08);
@dark-color-secondary-hover: rgba(var(--gray-8), 0.16);
@dark-color-secondary-active: rgba(var(--gray-7), 0.24);
@dark-color-secondary-disabled: rgba(var(--gray-9), 0.08);
@dark-color-danger-light-1: rgba(var(--danger-6), 0.2);
@dark-color-danger-light-2: rgba(var(--danger-6), 0.35);
@dark-color-danger-light-3: rgba(var(--danger-6), 0.5);
@dark-color-danger-light-4: rgba(var(--danger-6), 0.65);
@dark-color-success-light-1: rgb(var(--success-6), 0.2);
@dark-color-success-light-2: rgb(var(--success-6), 0.35);
@dark-color-success-light-3: rgb(var(--success-6), 0.5);
@dark-color-success-light-4: rgb(var(--success-6), 0.65);
@dark-color-warning-light-1: rgb(var(--warning-6), 0.2);
@dark-color-warning-light-2: rgb(var(--warning-6), 0.35);
@dark-color-warning-light-3: rgb(var(--warning-6), 0.5);
@dark-color-warning-light-4: rgb(var(--warning-6), 0.65);
@dark-color-link-light-1: rgb(var(--link-6), 0.2);
@dark-color-link-light-2: rgb(var(--link-6), 0.35);
@dark-color-link-light-3: rgb(var(--link-6), 0.5);
@dark-color-link-light-4: rgb(var(--link-6), 0.65);

@{arco-theme-tag} {
  --color-white: @color-white;
  --color-black: @color-black;
  --color-border: @color-border;
  --color-bg-popup: @color-bg-popup;
  --color-bg-1: @color-bg-1;
  --color-bg-2: @color-bg-2;
  --color-bg-3: @color-bg-3;
  --color-bg-4: @color-bg-4;
  --color-bg-5: @color-bg-5;
  --color-bg-white: @color-bg-white;
  --color-neutral-1: rgb(var(--gray-1));
  --color-neutral-2: rgb(var(--gray-2));
  --color-neutral-3: rgb(var(--gray-3));
  --color-neutral-4: rgb(var(--gray-4));
  --color-neutral-5: rgb(var(--gray-5));
  --color-neutral-6: rgb(var(--gray-6));
  --color-neutral-7: rgb(var(--gray-7));
  --color-neutral-8: rgb(var(--gray-8));
  --color-neutral-9: rgb(var(--gray-9));
  --color-neutral-10: rgb(var(--gray-10));
  --color-text-1: @color-text-1;
  --color-text-2: @color-text-2;
  --color-text-3: @color-text-3;
  --color-text-4: @color-text-4;
  --color-border-1: @color-border-1;
  --color-border-2: @color-border-2;
  --color-border-3: @color-border-3;
  --color-border-4: @color-border-4;
  --color-fill-1: @color-fill-1;
  --color-fill-2: @color-fill-2;
  --color-fill-3: @color-fill-3;
  --color-fill-4: @color-fill-4;
  --color-primary-light-1: @color-primary-light-1;
  --color-primary-light-2: @color-primary-light-2;
  --color-primary-light-3: @color-primary-light-3;
  --color-primary-light-4: @color-primary-light-4;

  --color-link-light-1: @color-link-light-1;
  --color-link-light-2: @color-link-light-2;
  --color-link-light-3: @color-link-light-3;
  --color-link-light-4: @color-link-light-4;
  --color-secondary: @color-secondary;
  --color-secondary-hover: @color-secondary-hover;
  --color-secondary-active: @color-secondary-active;
  --color-secondary-disabled: @color-secondary-disabled;
  --color-danger-light-1: @color-danger-light-1;
  --color-danger-light-2: @color-danger-light-2;
  --color-danger-light-3: @color-danger-light-3;
  --color-danger-light-4: @color-danger-light-4;
  --color-success-light-1: @color-success-light-1;
  --color-success-light-2: @color-success-light-2;
  --color-success-light-3: @color-success-light-3;
  --color-success-light-4: @color-success-light-4;
  --color-warning-light-1: @color-warning-light-1;
  --color-warning-light-2: @color-warning-light-2;
  --color-warning-light-3: @color-warning-light-3;
  --color-warning-light-4: @color-warning-light-4;

  // radius
  --border-radius-none: @border-radius-none;
  --border-radius-small: @border-radius-small;
  --border-radius-medium: @border-radius-medium;
  --border-radius-large: @border-radius-large;
  --border-radius-circle: @border-radius-circle;
  // component
  --color-tooltip-bg: @color-tooltip-bg;
  --color-spin-layer-bg: @color-spin-layer-bg;
  --color-menu-dark-bg: @color-menu-dark-bg;
  --color-menu-light-bg: @color-menu-light-bg;
  --color-menu-dark-hover: @color-menu-dark-hover;
  --color-mask-bg: @mask-color-bg;
}

@{arco-theme-tag}[arco-theme='dark'] {
  --color-white: @dark-color-white;
  --color-black: @dark-color-black;
  --color-border: @dark-color-border;
  --color-bg-1: @dark-color-bg-1;
  --color-bg-2: @dark-color-bg-2;
  --color-bg-3: @dark-color-bg-3;
  --color-bg-4: @dark-color-bg-4;
  --color-bg-5: @dark-color-bg-5;
  --color-bg-white: @dark-color-bg-white;
  --color-text-1: @dark-color-text-1;
  --color-text-2: @dark-color-text-2;
  --color-text-3: @dark-color-text-3;
  --color-text-4: @dark-color-text-4;
  --color-fill-1: @dark-color-fill-1;
  --color-fill-2: @dark-color-fill-2;
  --color-fill-3: @dark-color-fill-3;
  --color-fill-4: @dark-color-fill-4;
  --color-primary-light-1: @dark-color-primary-light-1;
  --color-primary-light-2: @dark-color-primary-light-2;
  --color-primary-light-3: @dark-color-primary-light-3;
  --color-primary-light-4: @dark-color-primary-light-4;
  --color-secondary: @dark-color-secondary;
  --color-secondary-hover: @dark-color-secondary-hover;
  --color-secondary-active: @dark-color-secondary-active;
  --color-secondary-disabled: @dark-color-secondary-disabled;
  --color-danger-light-1: @dark-color-danger-light-1;
  --color-danger-light-2: @dark-color-danger-light-2;
  --color-danger-light-3: @dark-color-danger-light-3;
  --color-danger-light-4: @dark-color-danger-light-4;
  --color-success-light-1: @dark-color-success-light-1;
  --color-success-light-2: @dark-color-success-light-2;
  --color-success-light-3: @dark-color-success-light-3;
  --color-success-light-4: @dark-color-success-light-4;
  --color-warning-light-1: @dark-color-warning-light-1;
  --color-warning-light-2: @dark-color-warning-light-2;
  --color-warning-light-3: @dark-color-warning-light-3;
  --color-warning-light-4: @dark-color-warning-light-4;
  --color-link-light-1: @dark-color-link-light-1;
  --color-link-light-2: @dark-color-link-light-2;
  --color-link-light-3: @dark-color-link-light-3;
  --color-link-light-4: @dark-color-link-light-4;
  // component
  --color-tooltip-bg: @dark-color-tooltip-bg;
  --color-spin-layer-bg: @dark-color-spin-layer-bg;
  --color-menu-dark-bg: @color-menu-dark-bg;
  --color-menu-light-bg: @color-menu-dark-bg;
  --color-menu-dark-hover: @dark-color-menu-dark-hover;
  --color-mask-bg: @dark-mask-color-bg;
}
