@import './icon-hover.less';

.fixed-width(@width) {
  width: @width;
  min-width: @width;
  max-width: @width;
}

.text-ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
