@use '@style/theme/index.scss' as theme;
@use 'sass:string';

$theme-prefix-cls: string.unquote('#{theme.$prefix}-theme');

.#{$theme-prefix-cls}-provider {
  min-width: 0;
}

.#{$theme-prefix-cls}-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0;
  pointer-events: none;
}
